<h1>Welcome to My Awesome Site, <%= @user.first_name %>!</h1>
<p>
  You have successfully signed up to My Awesome Site,
  your username is: <%= @user.email %>.<br>
  To login to the site, just follow this link: <%= @url %>.
</p>
<p>Thank you for joining and have a great day!</p>
